<section class="show">
    <h1>Coming soon to Android and Apple</h1>
    <a class="storeLink"><img src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' alt='Get it on Google Play' style="width: 100%;"></a>
    <a class="storeLink"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1276560000&h=7e7b68fad19738b5649a1bfb78ff46e9" alt="Download on the App Store" style="width: 88%;"></a>
    
</section>