/* You can add global styles to this file, and also import other style files */
html { background-color: black; }
body { background-color: black; color: #db8a20; }
section {
    display: grid; 
    place-items: center;
    align-content: center ;
    min-height: 100vh;
}