<div class="roadmap__head">
  <h3 class="roadmap__title">Roadmap coverage</h3>
  <ul class="roadmap__key">
    <li class="roadmap__key-item"><span class="roadmap__swatch roadmap__swatch--started"></span>Started</li>
    <li class="roadmap__key-item"><span class="roadmap__swatch"></span>Not started</li>
  </ul>
</div>
<div class="roadmap__levels">
  @for (r of rows(); track r.key) {
    <div
      class="roadmap__level"
      role="group"
      [attr.aria-label]="r.label + ': ' + r.started + ' of ' + r.total + ' started'"
    >
      <div class="roadmap__level-head">
        <span class="roadmap__label">{{ r.label }}</span>
        <span class="roadmap__count">{{ r.started }} of {{ r.total }}</span>
      </div>
      <div class="roadmap__tiles">
        @for (t of r.tiles; track t.name) {
          <button
            type="button"
            class="roadmap__tile"
            [class.roadmap__tile--started]="t.started"
            [attr.title]="t.name"
            [attr.aria-label]="t.name + ', ' + (t.started ? 'started' : 'not started')"
            (click)="select.emit(t.name)"
          ></button>
        }
      </div>
    </div>
  }
</div>
