<div class="roadmap__head">
  <h3 class="roadmap__title">Roadmap coverage</h3>
  <ul class="roadmap__key">
    <li class="roadmap__key-item"><span class="roadmap__swatch roadmap__swatch--started"></span>Started</li>
    <li class="roadmap__key-item"><span class="roadmap__swatch"></span>Not started</li>
  </ul>
</div>
@for (r of bars(); track r.key) {
  <div class="roadmap__row">
    <span class="roadmap__label">{{ r.label }}</span>
    <div class="roadmap__lane">
      <div
        class="roadmap__track"
        role="progressbar"
        [attr.aria-label]="r.label + ': ' + r.started + ' of ' + r.total + ' started'"
        [attr.aria-valuenow]="r.started"
        aria-valuemin="0"
        [attr.aria-valuemax]="r.total"
        [style.width.%]="r.trackPct"
      >
        <div class="roadmap__fill" [style.width.%]="r.fillPct"></div>
      </div>
    </div>
    <span class="roadmap__count">{{ r.started }} of {{ r.total }}</span>
  </div>
}
